* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --body_background: white;
  --body_color: black;
}

[data-theme="dark"] {
  --body_background: #414040;
  --body_color: white;
}

body {
  color: var(--body_color);
  background-color: var(--body_background);
}
